.test-history {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 $m-size;
}

.test-history__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.test-history__body {
    margin-bottom: 5rem;
}

.test-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    border: 3px solid black;
    font-size: $font-size-small;
}

@media (min-width: $desktop-breakpoint) {
    .test-summary {
        font-size: $font-size-large;
    }
}