.tester {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 $m-size;
}

.tester__title {
    margin: 0;
}

.tester__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tester button {
    width: 50%;
}

.next-button {
    float: right;
}

@media (min-width: $desktop-breakpoint) {
    .tester__title {
        margin: $s-size 0;
    }

    .tester button {
        width: auto;
    }

    .next-button {
        float: none;
    }
}